In [ ]:
# Database - shared collection of logically related data
# Advantage -  Data Storage, Data Analysis, Record Keeping, Web Application
# Operation on Database - CRUD 
# Create, Retrive, Update, Delete
# Properties of Ideal Database -  Integrity(Accuracy + consistency), Availability(no down time), Security, Independent of Application, Concurrency(Parallel usage)

# Types of Databases - 

#1.Relational Database(row based database) - SQL databases which store data in the form of row and column(table form)
# mysql,postgres,oracle,sqlserver, microsoft access

#2.NoSQL(Not only Sequel ) Database - handle large amount of unstructured data
# MongoDB

#3.Column Database(fast w.r.t. row) - used in data warehousing and analytical application
# Amazon Redshift, Google BigQuery,showflake
# Example - consider these are rows
# vip 30 B.tech
# akshat 30 B.tech
# data will store in column database like this
# vip akshat 
# 30 30 
# B.tech B.tech

 
# Row oriented databases - are databases that organize data by record, keeping all of the data associated with a record next to each other in memory    
# Example - Postgres, MySQL
# vip 30 B.tech
# akshat 30 B.tech
# data store like--- vip 30 B.tech akshat 30 B.tech




# Graph DataBase - used in recommendation system and Social Network Connection
# Amazon Neptune, Neo4j

# Key-Value database - store data in the form of key-value well suited for caching
# Redis, AmazonDynamoDB 


# Database terminology

# table is known as relation
# columns name - attributes and fields
# row - records or tuples
# if there are 5 columns and 4 rows
# Degree of relation - 4
# cardinality of the relation - 5

# DBMS - provide the interface which needed to store,organise and manage data in database. 
# Users --interact with > Applications --run on> DBMS-- provide gui of database> Database --store data in memory > OS
# function of DBMS - Data management, Integrity, concurrency, Transaction, Security, Utilities


# Database Keys
# A key in database is an attribute or set of attributes that uniquely identifies a row in a table

# Super Key(Janta) - set of colulmns that uniquely identifies ---- email+ name+ rollnumber can be super key

# Candidate Key(umeedwar) - minimal set of super key has no redundant attributes and that is used to uniquely identify a row --- rollnumber,
#email is smallest set and can be candidate key

# primary key(winner from the election) - is candidate key that is uniquely identified and can not be null and dublicate --- like email or rollnumber
# it can not be null and dublicate
#small,numerical,constant -- attributes of primary key
# Alternate key - is also candidate key that is not used as primary key

# candidate key - primary key = alternate key


# composite key - is a primary key that is made up of two or more attributes(more than one primary key is composite key)
# when single key is not sufficient to uniquely identified

# Sarogate key - when table do not have any uniquely indentified attributes(column) and you add one column(id) to make primary key is called sarogate key
# Foreign key - is primary key from one table that is used to establish a relationship with another table

# Cardinality of Relationship
# one to one - person and license number - one table required to store it
# one to many - student and college branch or Restaurants and orders -- two table is required to store it(restaurants and orders two table is required)
# many to many - (Restaurants and menu) or (student and courses) - 3 tables to store the info (student, courses, enrollment)



# Drawbacks - Complexity, Cost, Scalability, Data Integrity, Security, Data Migration, Flexibility

In [ ]:
  # Relational Database model
# database server --> DBMS --> Databases --> Tables --> rows
# SQL - language which manage the databases
# Types of sql commands
# DDL(data definition lan) - Create, alter,drop,turncate
# DML - Insert,Update, Delete, Select
# DCL -Grant, Revoke
# TCL - commit, Rollback

# Note - Database name, table name, column name should be in small letter
# DDL commands
# CREATE DATABASE samil
# DROP DATABASE samil

# updated query of create and drop
# CREATE DATABASE IF NOT EXISTS samil
# DROP DATABASE IF EXISTS samil


#CREATE TABLE users(
#    user_id INTEGER,
#    name VARCHAR(255),
#    email VARCHAR(255),
#    password VARCHAR(255)
#    )

# Truncate command only applicable for tables and it empty the table means no records will be left
# TRUNCATE TABLE users

# Drop will delete the table
# DROP TABLE IF EXISTS users


# Constraints in MySql
# NOT NULL, UNIQUE, PRIMARY KEY, AUTO INCREMENT, CHECK, DEFAULT, FOREIGN KEY
# Example of constraints
# can apply more than one constraints at a time
# CREATE TABLE users(
#    user_id INTEGER NOT NULL,
#    name VARCHAR(255) NOT NULL,
#    email VARCHAR(255) NOT NULL UNIQUE,
#    password VARCHAR(255) NOT NULL
#    )

# Another way of constraints

# CREATE TABLE users(
#    user_id INTEGER NOT NULL,
#    name VARCHAR(255) NOT NULL,
#    email VARCHAR(255) NOT NULL,
#    password VARCHAR(255) NOT NULL
#    CONSTRAINTS users_email_unique UNIQUE(email) # tablename_columnname_constraintsname 
#    )
# this is another way to write constraints advantage - 
# 1. you can delete constraints only no need to delete whole table or column
# 2. you can make combination of email and password unique 

# Define the primary key in table

# CREATE TABLE users(
#    user_id INTEGER NOT NULL PRIMARY KEY,
#    name VARCHAR(255) NOT NULL,
#    email VARCHAR(255) NOT NULL,
#    password VARCHAR(255) NOT NULL
#    CONSTRAINTS users_email_unique UNIQUE(email,password) # tablename_columnname_constraintsname 
#    )

# another way to define primary key
# this will help when you want to combination of two table as a primary key

# CREATE TABLE users(
#    user_id INTEGER NOT NULL,
#    name VARCHAR(255) NOT NULL,
#    email VARCHAR(255) NOT NULL,
#    password VARCHAR(255) NOT NULL
#    CONSTRAINTS users_email_unique UNIQUE(email,password) # tablename_columnname_constraintsname 
#    CONSTRAINTS user_pk PRIMARY KEY (user_id)
#    )


# check constraints - one way

# CREATE TABLE students(
#     student_id INTEGER PRIMARY KEY AUTO_INCREMENT,
#     name VARCHAR(50) NOT NULL,
#     age INTEGER CHECK (age >6 AND age< 25)
#     )
    
# Another way of CHECK constraints

# CREATE TABLE students(
#     student_id INTEGER PRIMARY KEY AUTO_INCREMENT,
#     name VARCHAR(50) NOT NULL,
#     age INTEGER CHECK (age >6 AND age< 25)
    
#     CONSTRAINT students_age_check (age>6 AND age<25)
#     )
    
    
# Default constraints

# CREATE TABLE ticket(
#     ticket_id INTEGER PRIMARY KEY,
#     name VARCHAR(255) NOT NULL,
#     travel_date DATETIME DEFAULT CURRENT_TIMESTAMP)


# Foreign key constraints - maintain the integrity
# first table customers

# Create table customers(
#     cid INTEGER PRIMARY KEY AUTO_INCREMENT,
#     name varchar(255) NOT NULL,
#     email VARCHAR(255) NOT NULL UNIQUE

# )

# second table orders and cid is foreign key

# Create table orders(
#     order_id INTEGER PRIMARY KEY AUTO_INCREMENT,
#     cid INTEGER NOT NULL,
#     order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
#     CONSTRAINT orders_fk FOREIGH KEY (cid) REFERENCES customers(cid)   
#)


# Referential Actions

# 1. Restrict - by default and you can not delete or update the data in case of foreign key relation
# 2. Cascade  - you can delete or update in foreign key relation ship, if any customer data is deleted so automatically its order will be deleted from orders table
# 3. Set null - null value will fill
# 4. Set Default - any default value will be filled


# CASCADE

# CREATE TABLE orders(
#     order_id INTEGER PRIMARY KEY,
#     cid INTEGER NOT NULL,
#     order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
# CONSTRAINT orders_fk FOREIGN KEY (cid) REFERENCES customers(cid)
#     ON DELETE CASCADE  # if changes happened in order automatically changes occur in customer table
#     ON UPDATE CASCADE
#     )


# set null

# CREATE TABLE orders(
#     order_id INTEGER PRIMARY KEY,
#     cid INTEGER NOT NULL,
#     order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
# CONSTRAINT orders_fk FOREIGN KEY (cid) REFERENCES customers(cid)
#     ON DELETE SET NULL
#     ON UPDATE SET NULL
#     )





# ALTER TABLE command
# using alter command we can add , delete, modify table
#ALTER TABLE customers ADD COLUMN password VARCHAR(255) NOT NULL
#ALTER TABLE customers ADD COLUMN surname VARCHAR(255) NOT NULL AFTER name

# add multiple columns
# ALTER TABLE customers ADD COLUMN pan_card VARCHAR(255) AFTER surname,ADD COLUMN joining_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP

# Delete Column using alter
# ALTER TABLE customers DROP COLUMN pan_card
# ALTER TABLE customers DROP COLUMN pan_card, DROP COLUMN joining_date  # more than two col you can delete

# modify using alter
# ALTER TABLE customers MODIFY COLUMN surname INTEGER AUTO_INCREMENT
# add constraint using alter command
#ALTER TABLE customers ADD CONSTRAINT customers_age_check CHECK (age >13)
# modify constraint using alter is not allowed in mysql using MODIFY CONSTRAINT keyword
# first delete constraint and then add constraint- for modify the constraint

In [ ]:
# CRUD commands
# insert, select,update, delete

In [ ]:
2+3